<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button href="/prodep">
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>Prodep</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <ion-item>
          <ion-label class="label_name">PRODEP</ion-label>
          <ion-button>Crear PRODEP</ion-button>
        </ion-item>
        <ion-item>
          Ejemplo 1
          <ion-button>Modificar</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="test()">
    Execute function
  </ion-button>
</ion-content>
