.input_Label{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  
  }
  
  .label_name {
    display: flex;
    justify-content: center;
    width: 200px;
  }